{% extends "bootstrap/base.html" %}
{% block title %}Voicemail from {{ call.from_|national_format }}{% endblock %}

{% block content %}
  <div class="col-md-6 col-md-offset-3">
    <h1>{{ call.from_|national_format }} <br/><small id="time"></small></h1>

    <button onclick="audio.play()" class="btn btn-primary btn-lg btn-block">Play recording</button>

    <h2>Transcription</h2>
    <div class="well">
      {{ transcription|default('(not available)', true) }}
    </div>

    <a class="pull-right" href="{{ recording.formats['mp3'] }}" download>Download recording</a>
  </div>

  <!-- Page JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script type="text/javascript">
    var audio = new Audio("{{ recording.formats['mp3'] }}");

    var createdTime = moment("{{ recording.date_created.isoformat() }}Z");
    document.getElementById('time').textContent = createdTime.fromNow();
  </script>
{% endblock %}
